// Admin
.role-administrator {
	// Main menu
	.main-menu {
		// Menu header
		.main-menu-admin-new {
			display: block;
		}
		// Menu items
		.has-submenu {
			.submenu-arrow {
				right: 40px;
			}
		}
		// Menu submenu items
		.submenu-link {
			padding-right: 30px;
		}
	}
	// Content
	.content {
		padding-bottom: 90px;
	}
}

// EDIT REPORTS
// Basic data
.form-edit-basic-data {
	padding-top: 8px;
}
// Versions
.table-edit-report-version {
	.icon {
		font-size: 1.2em;
	}
	.version-status {
		color: $grey-light-2;
		vertical-align: middle;
	}
	.version-active {
		color: darken($func-green, 10%);
	}
	.version-current {
		td {
			background-color: $grey-light-1;
		}
	}
}
// Definition
.table-edit-report-definition {
	td {
		&.definition-status {
			width: 112px;
		}
	}
	.checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		width: 16px;
		height: 16px;
		label {
			min-height: 16px;
			&:after {
				padding-left: 1px;
			}
		}
	}
}
// Roles
.form-edit-roles {
	padding-top: 8px;
	.label-add-user {
		visibility: hidden;
	}
	.btn-add-user {
		display: block;
	}
}

// Admin toolbar
.admin-toolbar {
	@include transition;
	position: fixed;
	bottom: 0;
	left: 330px;
	right: 0;
	background-color: $grey-dark;
	min-height: 51px;
	padding: 10px 50px;
	.main-menu-closed & {
		left: 0;
	}
}