// Admin
.administration {
	.content {
		padding-bottom: 90px;
	}
}

// EDIT REPORTS
// Basic data
.form-edit-basic-data {
	padding-top: 8px;
}
// Versions
.table-edit-report-version {
	.icon {
		font-size: 1.2em;
	}
	.version-status {
		color: $grey-light-2;
		vertical-align: middle;
	}
	.version-active {
		color: darken($func-green, 10%);
	}
	.version-current {
		td {
			background-color: $grey-light-1;
		}
	}
}
// Roles
.form-edit-roles {
	padding-top: 8px;
	.label-add-user {
		visibility: hidden;
	}
	.btn-add-user {
		display: block;
	}
}

// Admin toolbar
.admin-toolbar {
	@include transition;
	position: fixed;
	bottom: 0;
	left: 300px;
	right: 0;
	background-color: $grey-dark;
	min-height: 51px;
	padding: 10px 50px;
	.main-menu-closed & {
		left: 0;
	}
}