// Index
.form-group {
	&-select {
		select {
			display: inline;
			width: 10%;
		}
	}
}

// Row control
.row-control {
	table {
		thead {
			th {
				&:first-child {
					width: 180px;
				}
			}
		}
	}
}