// Main menu
.main-menu {
	width: 300px;
	position: fixed;
	top: 70px;
	height: 100%;
	margin-bottom: -70px;
	padding-top: 20px;
	overflow-y: auto;
	& > ul {
		// Negative margin + .branding-info
		padding-bottom: 125px;
	}
	a {
		display: block;
		padding: 4px 20px 4px 15px;
		border-left: 5px solid transparent;
		white-space: nowrap;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	// Main menu header
	.main-menu-header {
		text-transform: uppercase;
		font-size: 10px;
		padding-left: 20px;
		padding-right: 15px;
		margin-bottom: 15px;
	}
	// Main menu sort
	.main-menu-sort {
		text-transform: uppercase;
		font-size: 10px;
		select {
			text-transform: uppercase;
			font-size: 10px;
			padding: 0;
			height: 17px !important;
			line-height: 10px !important;
			margin-top: -2px;
			background-color: transparent !important;
		}
	}
	// Main menu item
	.main-menu-item {
		&.active {
			& > a {
				padding-left: 15px;
				& + .submenu {
					.submenu-item {
						a {
							&:hover,
							&:focus {
								padding-left: 25px;
							}
						}
					}
				}
			}
		}
		.submenu-item {
			a {
				padding-left: 25px;
				border-left: 5px solid transparent;
			}
		}
	}
	.has-submenu {
		position: relative;
		.submenu-arrow {
			text-rendering: auto;
			position: absolute;
			right: 20px;
		}
		&.active {
			.submenu-arrow {
				transform: rotate(90deg);
			}
		}
	}
	.main-menu-closed & {
		width: 0;
		overflow: hidden;
	}
	// Branding info
	.branding-info {
		position: fixed;
		width: 300px;
		max-height: 51px;
		bottom: 0;
		.master-brand {
			padding: 13px 20px;
		}
		.master-brand-logo {
			max-width: 80px;
			opacity: 0.4;
		}
		.main-menu-closed & {
			width: 0;
			overflow: hidden;
		}
	}
}