// Main menu
.main-menu {
	width: 300px;
	position: fixed;
	top: 70px;
	height: 100%;
	margin-bottom: -70px;
	padding-top: 20px;
	overflow-y: auto;
	& > ul {
		// Negative margin + .branding-info
		padding-bottom: 125px;
	}
	.main-menu-link,
	.submenu-link {
		display: block;
		padding: 4px 20px 4px 15px;
		border-left: 5px solid transparent;
		white-space: nowrap;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	// Main menu header
	.main-menu-header {
		text-transform: uppercase;
		font-size: 10px;
		padding-left: 20px;
		padding-right: 15px;
		margin-bottom: 15px;
	}
	// Main menu sort
	.main-menu-sort {
		text-transform: uppercase;
		font-size: 10px;
		select {
			text-transform: uppercase;
			font-size: 10px;
			padding: 0;
			height: 17px !important;
			line-height: 10px !important;
			margin-top: -2px;
			background-color: transparent !important;
		}
	}
	// Main menu item
	.main-menu-item {
		position: relative;
		&:hover,
		&:focus {
			// Show edit button
			.dropdown-group-settings {
				opacity: 1;
			}
		}
		&.active {
			& > .main-menu-link {
				padding-left: 15px;
				& + .submenu {
					.submenu-item {
						.submenu-link {
							&:hover,
							&:focus {
								padding-left: 25px;
							}
						}
					}
				}
			}
		}
		.submenu-item {
			.submenu-link {
				vertical-align: bottom;
				padding-left: 25px;
				border-left: 5px solid transparent;
				&:hover {
					.report-version {
						opacity: 1;
					}
				}
			}
			.report-version {
				@include transition;
				float: right;
				font-size: 12px;
				vertical-align: bottom;
				opacity: 0;
			}
		}
	}
	// Edit button
	.dropdown-group-settings {
		@include transition;
		position: absolute;
		top: 0;
		right: 45px;
		opacity: 0;
		&.open {
			opacity: 1;
		}
		.btn-group-settings {
			text-decoration: none;
			font-size: 10px;
			line-height: 27px;
			padding: 7px 10px;
			color: $grey-medium-3;
			background-color: rgba($white, 0.3);
			&:hover,
			&:focus {
				color: $grey-dark;
			}
		}
		.dropdown-menu {
			margin-top: 0;
			border: 0;
			border-radius: 0;
			a {
				color: $grey-medium-3;
			}
			.divider {
				margin: 5px 0;
			}
		}
	}
	// Has submenu
	.has-submenu {
		position: relative;
		.submenu-arrow {
			text-rendering: auto;
			position: absolute;
			right: 20px;
		}
		&.active {
			.submenu-arrow {
				transform: rotate(-180deg);
			}
		}
	}
	.edit-mode {
		background-color: $grey-medium-3 !important;
		color: $white !important;
		&:after {
			// content: '|';
		}
	}
	// Report settings
	.report-settings {
		background-color: darken($grey-light-2, 1%);
		border-left: 5px solid transparent;
		// padding-left: 30px;
		table {
			tr {
				td {
					text-transform: uppercase;
					font-size: 11px;
					color: $grey-medium-3;
					border-bottom: 0;
					// padding-left: 0;
					// padding-right: 0;
					&:first-child {
						padding-left: 25px;
					}
					a {
						@include transition;
						color: $white;
						&:hover {
							text-decoration: none;
							color: $grey-light-2;
						}
					}
				}
			}
			tbody {
				& + tbody {
					border-top: 0;
				}
			}
			.report-settings-actions {
				tr {
					td {
						padding-top: 10px;
						padding-bottom: 10px;
						background-color: $grey-medium-3;
						color: $white;
					}
				}
				.report-settings-status {
					.icon {
						margin-top: 1px;
						margin-right: 13px;
					}
					&.status-active {
						.icon {
							color: $func-green;
						}
					}
				}
			}
			.table-head {
				tr {
					td {
						background-color: darken($grey-light-2, 5%);
						color: $white;
						padding-top: 3px;
						padding-bottom: 3px;
					}
				}
			}
		}
	}
	// Main menu closed
	.main-menu-closed & {
		width: 0;
		overflow: hidden;
	}
	// Branding info
	.branding-info {
		position: fixed;
		width: 300px;
		max-height: 53px;
		bottom: 0;
		.master-brand {
			padding: 13px 20px;
		}
		.master-brand-logo {
			max-width: 80px;
			opacity: 0.4;
		}
		.main-menu-closed & {
			width: 0;
			overflow: hidden;
		}
	}
}