// Main menu
.main-menu {
	width: 300px;
	position: absolute;
	top: 70px;
	height: 100%;
	margin-bottom: -50px;
	background-color: $grey-dark;
	padding-top: 20px;
	overflow-y: auto;
	& > ul {
		padding-bottom: 100px;
	}
	a {
		display: block;
		color: $grey-medium-2;
		padding: 4px 20px 4px 15px;
		border-left: 5px solid transparent;
		white-space: nowrap;
		&:hover,
		&:focus {
			text-decoration: none;
			background-color: lighten($grey-dark, 2%);
		}
	}
	&-title {
		padding-left: 20px;
		color: $grey-light-2;
		text-transform: uppercase;
		font-size: 10px;
		margin-bottom: 10px;
	}
	&-item {
		&.active {
			& > a {
				color: $grey-medium-1;
				background-color: lighten($grey-dark, 2%);
				border-left: 5px solid $pbz-red;
				padding-left: 15px;
				& + .submenu {
					a {
						color: $grey-medium-1;
					}
					.submenu-item {
						a {
							&:hover,
							&:focus {
								border-left: 5px solid darken($pbz-red, 20%);
								padding-left: 25px;
							}
						}
						&.active {
							a {
								background-color: lighten($grey-dark, 2%);
								border-left: 5px solid darken($pbz-red, 20%);
							}
						}
					}
				}
			}
		}
		.submenu-item {
			a {
				padding-left: 25px;
				border-left: 5px solid transparent;
			}
		}
	}
	.has-submenu {
		position: relative;
		.submenu-arrow {
			text-rendering: auto;
			position: absolute;
			right: 20px;
		}
		&.active {
			.submenu-arrow {
				transform: rotate(90deg);
			}
		}
	}
	.main-menu-closed & {
		width: 0;
		overflow: hidden;
	}
	// Branding info
	.branding-info {
		position: fixed;
		width: 300px;
		bottom: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: darken($grey-dark, 2%);
		.master-brand {
			width: 120px;
			opacity: 0.2;
		}
		.main-menu-closed & {
			width: 0;
			overflow: hidden;
		}
	}
}