// Template
html,
body {
	// height: 100%;
}

body {
	font-family: $font-cond-regular;
}

a {
	color: $pbz-orange;
	&:hover,
	&:focus,
	&:active {
		color: darken($pbz-orange, 10%);
	}
}

// Forms
.form-control {
	// Theme
	box-shadow: none;
	&:focus {
		box-shadow: none;
	}
}

// Input sizing
.input-sm {
	height: 24px !important;
	line-height: 24px !important;
}

// Buttons
.btn {
	background-color: transparent;
	&-hidden {
		display: none;
	}
	&-default {
		background-color: $grey-medium-2;
		border-color: $grey-medium-2;
		color: $white;
		text-transform: uppercase;
		&:hover,
		&:focus {
			background-color: darken($grey-medium-2, 5%);
			border-color: darken($grey-medium-2, 5%);
			color: $white;
		}
	}
	&-primary {
		background-color: $pbz-red;
		border-color: $pbz-red;
		color: $white;
		text-transform: uppercase;
		&:hover,
		&:focus {
			background-color: darken($pbz-red, 5%);
			border-color: darken($pbz-red, 5%);
			color: $white;
		}
	}
	&-success {
		background-color: $func-green;
		border-color: $func-green;
		color: $white;
		text-transform: uppercase;
		&:hover,
		&:focus {
			background-color: darken($func-green, 5%);
			border-color: darken($func-green, 5%);
			color: $white;
		}
	}
}

// Dropdowns
.dropdown-header {
	text-transform: uppercase;
	font-size: 10px;
	color: $grey-medium-1;
	padding-top: 5px;
	padding-bottom: 5px;
}

// Checkboxes
.checkbox {
	padding-left: 20px;
	input[type="checkbox"] {
		cursor: pointer;
		opacity: 0;
		z-index: 1;
		outline: none !important;
		&:checked {
			& + label {
				&:before {
					background-color: $pbz-orange;
				}
				&:after {
					content: "\f00c";
					font-family: 'FontAwesome';
					color: $white;
				}
			}
		}
	}
	label {
		display: inline-block;
		padding-left: 5px;
		text-transform: uppercase;
		line-height: 16px;
		&:before {
			content: "";
			border-radius: 3px;
			border: 0;
			display: inline-block;
			height: 16px;
			width: 16px;
			left: 0;
			position: absolute;
			outline: none !important;
		}
		&:after {
			position: absolute;
			display: inline-block;
			font-size: 10px;
			height: 16px;
			width: 16px;
			top: 0;
			left: 0;
			padding-left: 3px;
			padding-top: 0;
		}
	}
}

// Content
.content {
	margin-left: 380px;
	margin-right: 50px;
	margin-top: 100px;
	&:before {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: -2;
		left: 0;
		right: 0;
		background-position: 50%, 50%;
	}
	.main-menu-closed & {
		margin-left: 50px;
	}
}

// Heading titles
.page-heading {
	position: relative;
	padding-bottom: 30px;
	&-group {
		.icon {
			font-size: 2em;
		}
	}
	&-report {
		.icon {
			font-size: 3.5em;
			margin-right: 15px;
		}
	}
	.icon {
		float: left;
		color: $pbz-orange;
	}
	.page-title {
		padding-bottom: 25px;
		padding-left: 40px;
		position: relative;
		small {
			color: $grey-medium-2;
			display: block;
			margin-top: 7px;
		}
		.page-type {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1.1em;
			text-transform: uppercase;
			font-family: $font-cond-bold;
			opacity: 0.07;
		}
		.page-version {
			position: absolute;
			right: 0;
			font-size: 12px;
			top: 36px;
		}
	}
	.btn-heading {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// Sections
.section-bg {
	// padding-top: 10px;
	// margin-bottom: 30px;
}
.section-title {
	margin-bottom: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid $grey-medium-1;
}

// Tables
.table {
	margin-bottom: 0;
	thead {
		th {
			font-family: $font-cond-bold;
		}
	}
	&.table-hover {
		tbody {
			tr {
				@include transition;
				&:hover {
					cursor: pointer;
				}
				&.table-no-data {
					&:hover {
						cursor: default;
					}
				}
			}
		}
	}
}

// Panels
.panel {
	background-color: transparent !important;
	border: 0;
	border-radius: 2px;
	box-shadow: none;
	&.panel-default {
		// Panel heading
		& > .panel-heading {
				padding-top: 15px;
				padding-bottom: 15px;
			.panel-title {
				font-size: 21px;
			}
			.form-group {
				margin-bottom: 0;
			}
			// Panel columns
			&.panel-columns {
				@include clearfix;
				padding-left: 0;
				padding-right: 0;
			}
			// Panel tabs
			&.panel-tabs {
				border-bottom: 0;
				background-color: transparent;
				padding: 0;
				.nav-tabs {
					border-bottom: 0;
					li {
						margin-bottom: 0;
						&.active {
							a {
								// bckground-color: 
							}
						}
						a {
							border: 0;
							border-radius: 2px 2px 0 0;
							padding: 15px 30px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

// Alerts
.alert {
	margin: -15px;
	border-radius: 0 0 2px 2px;
	&-danger {
		background-color: rgba($pbz-red, 0.2);
		border-color: transparent;
		color: lighten($pbz-red, 10%);
	}
}

// Translation
.translation {
	.language-flag {
		width: 16px;
	}
}
.btn-translate {
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:before {
		content: '\f067';
		font-family: 'FontAwesome';
	}
	&[aria-expanded="true"] {
		&:before {
			content: '\f068';
		}
	}
}











.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
