// Theme Dark
.theme-dark {
	background-color: $grey-dark;
	// Forms
	.form-control {
		background-color: $grey-dark;
		border: 1px solid lighten($grey-dark, 10%);
		color: $grey-light-2;
		&::-webkit-input-placeholder {
			color: lighten($grey-dark, 10%);
		}
		&::-moz-placeholder {
			color: lighten($grey-dark, 10%);
		}
		&:-ms-input-placeholder {
			color: lighten($grey-dark, 10%);
		}
		&:-moz-placeholder {
			color: lighten($grey-dark, 10%);
		}
	}
	// Checkboxes
	.checkbox {
		label {
			&:before {
				background-color: $grey-dark;
			}
		}
	}
	// Content
	.content {
		color: $grey-light-2;
		&:before {
			background-image: -webkit-radial-gradient(top, circle cover, #393b45 0%, #2d3038 70%);
			background-image: -moz-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
			background-image: -o-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
			background-image: radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
		}
	}
	// Heading titles
	.page-heading {
		.page-title {
			color: $white;
			border-bottom: 1px solid lighten($grey-dark, 10%);
			.page-type {
				opacity: 0.07;
			}
		}
	}
	// Sections
	.section-bg {
		background-color: rgba($grey-medium-2, 0.1);
	}
	// Tables
	.table {
		thead {
			th {
				color: $white;
				border-bottom-color: lighten($grey-dark, 10%) !important;
			}
		}
		tbody {
			td {
				border-top-color: lighten($grey-dark, 10%) !important;
			}
		}
		&-hover {
			tbody {
				tr {
					&:hover {
						background-color: $grey-dark;
					}
					&.table-no-data {
						&:hover {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
	// Panels
	.panel {
		&.panel-default {
			& > .panel-heading {
				background-color: rgba($grey-medium-2, 0.1);
				border-bottom-color: $grey-dark;
				color: $white;
				// Panel tabs
				&.panel-tabs {
					.nav-tabs {
						li {
							&.active {
								a {
									background-color: rgba($grey-medium-2, 0.1);
								}
							}
							a {
								color: $white;
								background-color: rgba($grey-medium-2, 0.05);
							}
						}
					}
				}
			}
			& > .panel-body {
				background-color: rgba($grey-medium-2, 0.1);
			}
		}
	}
}

// Theme Light
.theme-light {
	background-color: $grey-light-1;
	// Forms
	.form-control {
		background-color: $grey-medium-2;
		border: 1px solid transparent;
		color: $grey-light-1;
		&::-webkit-input-placeholder {
			color: darken($grey-medium-1, 10%);
		}
		&::-moz-placeholder {
			color: darken($grey-medium-1, 10%);
		}
		&:-ms-input-placeholder {
			color: darken($grey-medium-1, 10%);
		}
		&:-moz-placeholder {
			color: darken($grey-medium-1, 10%);
		}
	}
	// Checkboxes
	.checkbox {
		label {
			&:before {
				background-color: $grey-medium-2;
			}
		}
	}
	// Content
	.content {
		color: darken($grey-medium-2, 10%);
		&:before {
			background-image: -webkit-radial-gradient(top, circle cover, $grey-light-1 0%, $grey-light-2 70%);
			background-image: -moz-radial-gradient(center, circle cover, $grey-light-1 0%, $grey-light-2 70%);
			background-image: -o-radial-gradient(center, circle cover, $grey-light-1 0%, $grey-light-2 70%);
			background-image: radial-gradient(center, circle cover, $grey-light-1 0%, $grey-light-2 70%);
		}
	}
	// Heading titles
	.page-heading {
		.page-title {
			color: darken($grey-medium-2, 10%);
			border-bottom: 1px solid $grey-medium-1;
			.page-type {
				opacity: 0.2;
			}
		}
	}
	// Sections
	.section-bg {
		background-color: rgba($grey-dark, 0.1);
	}
	// Tables
	.table {
		thead {
			th {
				color: darken($grey-medium-2, 15%);
				border-bottom-color: $grey-medium-2 !important;
			}
		}
		tbody {
			td {
				border-top-color: lighten($grey-medium-2, 15%) !important;
			}
		}
		&-hover {
			tbody {
				tr {
					&:hover {
						background-color: lighten($grey-light-2, 3%);
					}
					&.table-no-data {
						&:hover {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
	// Panels
	.panel {
		&.panel-default {
			& > .panel-heading {
				background-color: rgba($grey-dark, 0.1);
				border-bottom-color: lighten($grey-medium-2, 18%) !important;
				color: darken($grey-medium-2, 15%);
				// Panel tabs
				&.panel-tabs {
					.nav-tabs {
						li {
							&.active {
								a {
									color: $grey-dark;
									background-color: rgba($grey-dark, 0.1);
								}
							}
							a {
								color: $grey-medium-2;
								background-color: rgba($grey-dark, 0.05);
							}
						}
					}
				}
			}
		}
		& > .panel-body {
			background-color: rgba($grey-dark, 0.1);
		}
	}
}