// Theme Light
.theme-light {
	background-color: $grey-light-1;
	// Forms
	.form-control {
		background-color: $grey-medium-2;
		border: 1px solid transparent;
		color: $grey-light-1;
		&::-webkit-input-placeholder {
			color: darken($grey-medium-1, 10%);
		}
		&::-moz-placeholder {
			color: darken($grey-medium-1, 10%);
		}
		&:-ms-input-placeholder {
			color: darken($grey-medium-1, 10%);
		}
		&:-moz-placeholder {
			color: darken($grey-medium-1, 10%);
		}
	}
	// Checkboxes
	.checkbox {
		label {
			&:before {
				background-color: $grey-medium-2;
			}
		}
	}
	// Main menu
	.main-menu {
		background-color: $grey-light-2;
		.main-menu-link,
		.submenu-link {
			color: $grey-medium-3;
		}
		.main-menu-header {
			color: $white;
		}
		.main-menu-sort {
			color: $grey-light-2;
			select {
				color: $grey-medium-2 !important;
			}
		}
		.main-menu-item {
			&:hover,
			&:focus {
				.main-menu-link,
				.active .submenu-link {
					background-color: darken($grey-light-2, 5%);
				}
			}
			&.active {
				& > .main-menu-link {
					color: $grey-medium-3;
					background-color: darken($grey-light-2, 5%);
					border-left: 5px solid $pbz-orange;
					& + .submenu {
						background-color: lighten($grey-light-2, 5%);
						.submenu-link {
							color: $grey-medium-3;
						}
						.submenu-item {
							.submenu-link {
								&:hover,
								&:focus {
									background-color: darken($grey-light-2, 1%);
									border-left: 5px solid lighten($pbz-orange, 10%);
								}
							}
							&.active {
								.submenu-link {
									background-color: darken($grey-light-2, 1%);
									border-left: 5px solid lighten($pbz-orange, 10%);
								}
							}
						}
					}
				}
			}
		}
		// Branding info
		.branding-info {
			background-color: $grey-medium-2;
		}
	}
	// Content
	.content {
		color: darken($grey-medium-2, 10%);
		&:before {
			background-image: -webkit-radial-gradient(top, circle cover, $grey-light 0%, $grey-light-1 70%);
			background-image: -moz-radial-gradient(center, circle cover, $grey-light 0%, $grey-light-1 70%);
			background-image: -o-radial-gradient(center, circle cover, $grey-light 0%, $grey-light-1 70%);
			background-image: radial-gradient(center, circle cover, $grey-light 0%, $grey-light-1 70%);
		}
	}
	// Heading titles
	.page-heading {
		.page-title {
			color: darken($grey-medium-2, 10%);
			border-bottom: 1px solid $grey-medium-1;
			.page-type {
				opacity: 0.2;
			}
		}
	}
	// Sections
	.section-bg {
		background-color: rgba($grey-dark, 0.1);
	}
	// Tables
	.table {
		thead {
			th {
				color: darken($grey-medium-2, 15%);
				border-bottom-color: $grey-medium-2 !important;
			}
		}
		tbody {
			td {
				border-top-color: lighten($grey-medium-2, 15%) !important;
			}
		}
		.table-hover {
			tbody {
				tr {
					&:hover {
						background-color: lighten($grey-light-2, 3%);
					}
					&.table-no-data {
						&:hover {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
	.table-edit-reports-version {
		.table {
			.version-current {
				background-color: $grey-light-1;
			}
		}
	}
	// Panels
	.panel {
		&.panel-default {
			& > .panel-heading {
				background-color: rgba($grey-dark, 0.1);
				border-bottom-color: lighten($grey-medium-2, 25%) !important;
				color: darken($grey-medium-2, 15%);
				// Panel tabs
				&.panel-tabs {
					.nav-tabs {
						li {
							&.active {
								a {
									color: $grey-dark;
									background-color: rgba($grey-dark, 0.1);
								}
							}
							a {
								color: $grey-medium-2;
								background-color: rgba($grey-dark, 0.05);
							}
						}
					}
				}
			}
		}
		& > .panel-body {
			background-color: rgba($grey-dark, 0.1);
		}
	}
	// Admin toolbar
	.admin-toolbar {
		background-color: $grey-medium-1;
	}
}