// Navbar
.navbar {
	min-height: 70px;
	margin-bottom: 0;
}
.navbar-default {
	border: 0;
	background-color: $white;
}

.navbar-nav {
	& > li {
		& > a {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}
}

// Logo
.navbar-brand {
	width: 330px;
	min-height: 70px;
	padding: 26px 15px;
	background-color: $pbz-orange;
	&:hover,
	&:focus {
		background-color: $pbz-orange !important;
	}
	img {
		max-width: 110px;
	}
}

// Navbar form
.navbar-form {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

// Collapse
.navbar-toggle {
	display: block;
	float: left;
	border: 0;
	margin: 0;
	padding: 20px 25px;
	&:hover,
	&:focus {
		background-color: transparent !important;
		.fa {
			color: $grey-dark;
		}
	}
	.fa {
		color: $grey-medium-2;
		font-size: 2em;
	}
	&-open {
		padding-top: 27px;
		padding-bottom: 23px;
		&:hover,
		&:focus {
			.icon-bar {
				background-color: $grey-dark;
			}
		}
	}
}

// Search
.search {
	// Search toggle icon
	.btn-search {
		font-size: 1.4em;
		color: $grey-medium-2;
		padding: 24px 25px;
	}
	.search-bar {
		@include transition;
		position: relative;
		width: 400px;
		&.search-collapsed {
			width: 0;
			overflow: hidden;
		}
	}
	// Reset search
	.btn-search-reset {
		@include transition;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.4em;
		color: $grey-light-2;
		padding: 15px 25px;
		&:hover,
		&:focus {
			color: $grey-medium-2;
		}
	}
	#search-input {
		font-size: 1.8em;
		background-color: $white;
		color: $grey-medium-2;
		// max-width: 200px;
		padding: 10px 0;
		height: 60px;
		width: 100%;
		border: 0;
		box-shadow: none;
		// Search autocomplete
		&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0 50px white inset;
		    // -webkit-text-fill-color: $grey-medium-2 !important;
		}
		// Search placeholder
		&::-webkit-input-placeholder {
			color: $grey-light-2;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $grey-light-2;  
		}
		&::-moz-placeholder {  /* Firefox 19+ */
			color: $grey-light-2;  
		}
		&:-ms-input-placeholder {  
			color: $grey-light-2;  
		}
		// Check if input is not empty
		&:not([value=""]) {
			& + .btn-search-reset {
				opacity: 1;
			}
		}
		&[value=""] {
			& + .btn-search-reset {
				opacity: 0;
			}
		}
	}
}

// Options
.toolbar-options {
	float: left;
	position: relative;
	.btn-options {
		font-size: 1.4em;
		color: $grey-medium-2;
		padding: 20px 22px;
		.fa {
			margin-left: 10px;
		}
	}
}

// Profile
.toolbar-profile {
	float: left;
	margin-right: 50px;
	position: relative;
	.btn-notifications {
		padding: 0 23px;
		line-height: 70px;
		color: $grey-medium-2;
		display: inline-block;
		&:hover,
		&:focus {
			text-decoration: none;
			color: $grey-dark;
		}
		.fa {
			line-height: inherit;
		}
		.badge {
			background-color: $pbz-red;
			font-size: 10px;
			margin-top: -2em;
			margin-left: -0.4em;
		}
	}
	.profile-name {
		padding-top: 23px;
		padding-bottom: 20px;
		font-size: 1.1em;
		color: $grey-medium-2;
		display: inline-block;
		&:hover,
		&:focus {
			color: $grey-dark;
			text-decoration: none;
		}
		.fa {
			margin-left: 5px;
		}
	}
	.profile-image {
		margin-top: -3px;
		margin-left: 10px;
		border-radius: 50%;
	}
}

// Language
.options-language {
	img {
		max-width: 15px;
		margin-right: 5px;
	}
}


