// Navbar
.navbar {
	min-height: 70px;
	margin-bottom: 0;
}
.navbar-default {
	border: 0;
	background-color: $white;
}

.navbar-nav {
	& > li {
		& > a {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}
}

// Logo
.navbar-brand {
	width: 300px;
	min-height: 70px;
	padding-top: 25px;
	background-color: darken($pbz-red, 10%);
	&:hover,
	&:focus {
		background-color: $pbz-red !important;
	}
	img {
		max-width: 110px;
	}
}

// Navbar form
.navbar-form {
	padding: 6px 15px;
}

// Collapse
.navbar-toggle {
	display: block;
	float: left;
	border: 0;
	margin: 0;
	padding: 20px 25px;
	&:hover,
	&:focus {
		background-color: transparent !important;
		.fa {
			color: $grey-dark;
		}
	}
	.fa {
		color: $grey-medium-2;
		font-size: 2em;
	}
	&-open {
		padding-top: 27px;
		padding-bottom: 23px;
		&:hover,
		&:focus {
			.icon-bar {
				background-color: $grey-dark;
			}
		}
	}
}

// Search
.search {
	.form-control {
		font-size: 1.4em;
		max-width: 200px;
		background-color: $white;
		border: 0;
		box-shadow: none;
	}
	.btn-search {
		font-size: 1.4em;
	}
}

// Profile
.profile {
	float: left;
	margin-right: 50px;
	position: relative;
	&-name {
		padding-top: 23px;
		padding-bottom: 20px;
		font-size: 1.1em;
		color: $grey-medium-2;
		display: inline-block;
		&:hover,
		&:focus {
			color: $grey-dark;
			text-decoration: none;
		}
		.fa {
			margin-left: 5px;
		}
	}
	&-image {
		margin-top: -3px;
		margin-left: 10px;
		border-radius: 50%;
	}
}

// Language