// Colors
$black: #161616;
$white: #ffffff;

// Grey light
$grey-light: #f6f6f6;
$grey-light-1: #f0f0f0;
$grey-light-2: #d0d0d0;
$grey-medium-1: #c0c4c8;
$grey-medium-2: #848c94;
$grey-medium-3: #767f88;
$grey-dark: #2a2d35;

// Brand colors
$pbz-orange: #f37021;
$pbz-green: #007638;
$pbz-blue: #0061af;
$pbz-red: #ed1c24;

// Functional colors
$func-yellow: #ffca3a;
$func-green: #8dc63f;
$func-blue: #1982c4;
$func-red: #ff595e;

// Fonts
$font: Helvetica, Arial, sans-serif;
$font-cond-regular: 'DINRounded-Regular';
$font-cond-bold: 'DINRounded-Bold';
$font-fa: 'FontAwesome';