/*!
 * Project name: MyProject
 * Version: 1.0
 * Boilerplate template: buildr v0.4
 * Author: Vedran Jaic
 * URL: vedranjaic.com
 */

// Bootstrap
@import "bootstrap";

// Settings
@import "variables";
@import "mixins";
@import "helpers";
@import "placeholders";
@import "touch-events";

// Animations
@import "animations";
@import "theme";

// ------------------------------------[ style.css start ]

// Defaults
@import "template";
@import "typography";
@import "roles";
@import "loader";

// Plugings

// Pages layout
@import "toolbar";
@import "sidebar";
@import "notifications";
@import "layout-index";
@import "stavke-menu";
@import "layout-admin";
@import "footer";

// --------------------------------------[ style.css end ]
